[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
selenium-stealth = "*"
pandas = "*"
diagrams = "*"
br-nome-gen = "*"
unidecode = "*"
requests = "*"
pydrive = "*"
google-api-python-client = "*"
pymongo = "*"
psycopg2-binary = "*"
eralchemy = {extras = ["graphviz"], version = "*"}
sqlalchemy-utils = "*"
webdriver-manager = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
