[[source]]
verify_ssl = true
name = "pip_conf_index_:env:"

[packages]
sqlalchemy = {version = "*", index = "pip_conf_index_:env:"}
pymongo = {version = "*", index = "pip_conf_index_:env:"}

[dev-packages]

[requires]
python_version = "3.11"
